<body class="homepage2">




		
    <!-- backtotop - start -->
    <div id="thetop" class="thetop"></div>
    <div class='backtotop'>
      <a href="#thetop" class='scroll'>
        <i class="fas fa-angle-double-up"></i>
      </a>
    </div>
    <!-- backtotop - end -->
  
    <!-- preloader - start -->
    <div id="preloader"></div>
    <!-- preloader - end -->
  
    <app-header></app-header> 
    
    <router-outlet></router-outlet>
    <app-viewprofil></app-viewprofil>
     
     
     <app-footer></app-footer>
  
  
  </body>
  