
  <!-- footer-section3 - start
  ================================================== -->
  <footer id="footer-section" class="footer-section footer-section3 clearfix">

    <!-- footer-top - start -->
    <div class="footer-top sec-ptb-100 clearfix">
      <div class="container">
        <div class="row justify-content-center">

          <!-- about-wrapper - start -->
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="about-wrapper text-center mb-50 clearfix">

              <!-- site-logo-wrapper - start -->
              <div class="site-logo-wrapper mb-30">
               <!-- <a href="index-1.html" class="logo">
                  <img src="assets/images/2.site-logo.png" alt="logo_not_found">
                </a>-->
              </div>
              <!-- site-logo-wrapper - end -->

              <p class="mb-30">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
              </p>

              <!-- social-links - start -->
              <div class="social-links ul-li">
                <h3 class="social-title">network</h3>
                <ul>
                  <li>
                    <a href="#!"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#!"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#!"><i class="fab fa-twitch"></i></a>
                  </li>
                  <li>
                    <a href="#!"><i class="fab fa-google-plus-g"></i></a>
                  </li>
                  <li>
                    <a href="#!"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
              <!-- social-links - end -->
              
            </div>
          </div>
          <!-- about-wrapper - end -->

          <!-- basic-info - start -->
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="basic-info clearfix">
              <div class="row">

                <!-- basic-info-item - start -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="basic-info-item">
                    <span class="icon">
                      <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <div class="info-content">
                      <p>5111 Mahdia </p>
                      <h3>Mahdia, Tunisia</h3>
                    </div>
                  </div>
                </div>
                <!-- basic-info-item - end -->

                <!-- basic-info-item - start -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="basic-info-item">
                    <span class="icon">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <div class="info-content">
                      <p><a href="#!">KRMEVENTS.com</a></p>
                      <h3><a href="#!">infoKRM.com</a></h3>
                    </div>
                  </div>
                </div>
                <!-- basic-info-item - end -->

                <!-- basic-info-item - start -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="basic-info-item">
                    <span class="icon">
                      <i class="fas fa-phone"></i>
                    </span>
                    <div class="info-content">
                      <p><a href="#!">+216 94 564 812</a></p>
                      <h3><a href="#!">+216 58 007 028 </a></h3>
                    </div>
                  </div>
                </div>
                <!-- basic-info-item - end -->
                
              </div>
            </div>
          </div>
          <!-- basic-info - end -->

        </div>
      </div>
    </div>
    <!-- footer-top - end -->

    <div class="footer-bottom">
      <div class="container">
        <div class="row">

          <!-- copyright-text - start -->
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="copyright-text" >
              <p  style="color: antiquewhite;">©2024 <a href="#!"  ></a> all right reserved, made with <i class="fas fa-heart"></i> by KRM Team </p>
            </div>
          </div>
          <!-- copyright-text - end -->

          <!-- footer-menu - start -->
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="footer-menu">
              <ul>
                <li><a routerLink="/home/contact">Contact us</a></li>
                <li><a routerLink="/home/details">About us</a></li>
                
              </ul>
            </div>
          </div>
          <!-- footer-menu - end -->

        </div>
      </div>
    </div>

  </footer>
  <!-- footer-section3 - end
  ================================================== -->
