.section {
    position: relative;
    height: 100vh;
   
  }
  
  .section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    
  
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  #booking {
    font-family: 'Raleway', sans-serif;
  }
  
  .booking-form {
    position: relative;
    max-width: 642px;
    width: 100%;
    margin: auto;
    background-image: url('/assets/images/background.jpg');
    padding: 40px;
    overflow: hidden;
    background-size: cover;
    border-radius: 5px;
    z-index: 20;
  }
  
  .booking-form::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  
  .booking-form .form-header {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
  }
  
  .booking-form .form-header h1 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 42px;
    margin: 0px;
    color: #fff;
  }
  
  .booking-form .form-group {
    position: relative;
    margin-bottom: 30px;
  }
  
  .booking-form .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    height: 60px;
    padding: 0px 25px;
    border: none;
    border-radius: 40px;
    color: #fff;
    box-shadow: 0px 0px 0px 2px transparent;
    transition: 0.2s;
  }
  
  .booking-form .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .booking-form .form-control:focus {
    box-shadow: 0px 0px 0px 2px #ff8846;
  }
  
  .booking-form select.form-control {
    appearance: none;
  }
  
  .booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
  }
  
  .booking-form select.form-control+.select-arrow:after {
    content: '\279C';
    transform: rotate(90deg);
  }
  
  .booking-form .submit-btn {
    color: #fff;
    background-color: #e35e0a;
    font-weight: 700;
    height: 60px;
    padding: 10px 30px;
    width: 100%;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.3px;
    transition: 0.2s all;
  }
  
  .booking-form .submit-btn:hover,
  .booking-form .submit-btn:focus {
    opacity: 0.9;
  }
  
  /* Style de l'icône de fermeture */
  .close-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    z-index: 1000;
    transition: color 0.2s ease;
  }
  
  .close-icon:hover {
    color: #ff8846; /* Changement de couleur au survol */
  }
  
 /* Style du select pour rendre l'interface plus agréable */
select[multiple] {
  height: auto;
  background-color: #f8f9fa00;  /* Un fond plus clair pour le select */
  border-color: #ccc;  /* Bordure plus douce */
}

/* Style pour l'option sélectionnée */
select[multiple] option:checked {
  background-color: #d360079a;
  color: rgb(240, 239, 239);
}

/* Couleur des options */
select[multiple] option {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffffbc;
}

/* Ajout d'un effet au survol */
select[multiple] option:hover {
  background-color: #e9ecef;
}
 